


        <div class="row">
            <div class="col-12">
                @Model.FirstName @Model.LastName</div>
            </div>
        <div class="row">
            <div class="col-12">Your rank - 1</div>
        </div>
  
